body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #111827;
}

nav {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: #1f2937;
  flex-wrap: wrap;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

.tab {
  padding: 20px;
}

.hidden {
  display: none;
}

input, textarea {
  padding: 10px;
  margin: 5px;
  width: 200px;
}

textarea {
  width: 90%;
  height: 150px;
}

.card {
  background: #1e293b;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
}

/* lockscreen */

#lockscreen {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lockbox {
  background: #111827;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
}
